## /* Back-End */

/target/
/.settings/
/.project
/.classpath
/.tern-project
/.DS_Store
*iml
/.idea/*


/target/
/.settings/
.settings
.project
.classpath
.springBeans

# IDEs and editors
apps/rfront-end/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db




##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store
